# Telegram Bot - .env.example
# Copy to .env and fill values
TELEGRAM_CHAT_ID=6357947864
TELEGRAM_TOKEN=8715734361:AAHEME9UVZ3EGRhcwDgIL6mtUgDdY48EYNc
ALLOWED_USERS=5886450270
TELEGRAM_CHAT_ID=5886450270
GITLAB_TOKEN=glpat-qMrLWxoOgmNrAdT7CuH1aWM6MQpvOjEKdTpuN3gyZg8.01.171qo43tx
GITLAB_PROJECT_ID=79895574
AGENT_URL=http://localhost:3000
NODE_ENV=development
